{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
    Product edit
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-md-6">
            <form class="form-signup" method="POST">
                <h2 class="form-signup-heading">Product edit</h2>
                {% bootstrap_form form %}{% csrf_token %}
                <input class="btn btn-success" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock body %}

