{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
    Taxes list
{% endblock %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                  <h1>Taxes list <small></small></h1>
                </div>
                {% if taxes %}
                    <div class="panel panel-default">
                        <div class="panel-heading">Taxes list</div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Процент</th>
                                    <th>Описание</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tax in taxes %}
                                    <tr>
                                        <td>{{ tax.name }}</td>
                                        <td>{{ tax.procent }}%</td>
                                        <td>{{ tax.description }}</td>
                                        <td><a class='btn btn-sm btn-primary' href='{% url tax_edit tax.id %}'>Правка</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                  Taxes not found
                {% endif %}
            </div>
        </div>
    </div>
{% endblock%}
